<div>
    <h1>Charactere</h1>
    
    <ul *ngFor="let character of characterList">
            <app-starwars-card  [url]="character.url" [title]="character.name" line1="Geburtsjahr: {{character.birth_year}}" line2="Gender: {{character.gender}}" 
                line3="Haarfarbe: {{character.hair_color}}" class="col-sm-4">
            </app-starwars-card>
    </ul>
   
<br>
<div *ngIf="previous">
    <button (click)="fetchCharactersList(previous)">previous</button>
</div>
<div *ngIf="next">
    <button (click)="fetchCharactersList(next)">next</button>
</div>

</div>
