<h1>Charactere</h1>
<button mat-raised-button (click)="openAddCharacter()" class="float-right">+ add </button>
<div class="row">

    <div *ngFor="let character of characterList" class="col-md-4 col-sm-6">
        <app-starwars-card  
            [url]="character.url" 
            [title]="character.name" 
            line1="Geburtsjahr: {{character.birth_year}}" 
            line2="Gender: {{character.gender}}" 
            line3="Haarfarbe: {{character.hair_color}}" 
            path="character"
            imgpath="characterimg"
            >
        </app-starwars-card>
    </div>
</div>
<div class="paging">
    <button mat-raised-button (click)="fetchCharactersList(previous)" *ngIf="previous">            
        <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <button mat-raised-button (click)="fetchCharactersList(next)" *ngIf="next">
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
</div>
