h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  border-bottom: lightgray solid 1px;
  margin-bottom: 30px;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border: black;
  border: solid 1px transparent;
}
nav a:visited, a:link {
  color: #334953;
  border-bottom:gray solid 1px;
}
nav a:hover {
  border-bottom:gray solid 1px;
}
nav a.active {
  color: #039be5;
}

.navbar-brand img {
  width: 50px;
}
