<div *ngIf="character">
    <center> Characterdetails </center>
    <hr>
    <h1> {{ character.name }} </h1>

    <ul>
        <b>Details:</b>
        <li>Größe: {{character.height}}</li>
        <li>Gewicht: {{character.mass}}</li>
        <li>Haarfarbe: {{character.hair_color}}</li>
        <li>Augenfarbe: {{character.eye_color}}</li>
        <li>Geburtsjahr: {{character.birth_year}}</li>
        <li>Geschlecht: {{character.gender}}</li>
        <li><a routerLink="/planet/{{planetId}}">
            Heimatplanet: {{ planetName }}
            </a>
        </li>
    </ul>

    <p><b>Filme:</b></p>
    <ul *ngFor="let film of character.films; let i = index" [attr.data-index]="i">
        <a routerLink="/movie/{{id_films[i]}}">
            <!--  [filmUrl]="film" -->
            <li>{{movie_title[i]}}</li>
        </a>
    </ul>
    

</div>
<div *ngIf="!character">
    ...Loading
</div>
