<h1>Filme</h1>
<button mat-raised-button (click)="openAddMovie()" class="float-right">+ add </button>

<div class="row">

    <div *ngFor="let movie of movieList" class="col-sm-6 col-md-4">
        <app-starwars-card  
            [url]="movie.url" 
            [title]="movie.title" 
            line1="Episode: {{movie.episode_id}}" 
            line2="Producer: {{movie.producer}}" 
            line3="Director: {{movie.director}}" 
            path="movie"
            imgpath="movieimg"
            >
        </app-starwars-card>
    </div>
</div>