<div *ngIf="movie">
    <center> Filmdetails </center>
    <h1> {{ movie.title }} </h1>
    <center> Episode {{movie.episode_id}} </center>

    <ul>
        <b>Details:</b>
        <li>Director: {{movie.director}}</li>
        <li>Produzenten: {{movie.producer}}</li>
        <li>Erscheinungsdatum: {{movie.release_date}}</li>
    </ul>
    <p>{{movie.opening_crawl}}</p>

  
    <p><b>Charactere:</b></p>
    <ul *ngFor="let character of  movie.characters; let i = index" [attr.data-index]="i">
        <a routerLink="/character/{{id_characters[i]}}">
            <li>{{character_name[i]}}</li>
        </a>
        {{film}}
    </ul>

    <p><b>Planeten:</b></p>
    <ul *ngFor="let planet of movie.planets; let i = index" [attr.data-index]="i">
        <a routerLink="/planet/{{id_planets[i]}}">
            <!--  [filmUrl]="film" -->
            <li>{{planet_name[i]}}</li>
        </a>
    </ul>
</div>
<div *ngIf="!movie">
    ...Loading
</div>
