<div *ngIf="planet">
    <center> Planetendetails </center>
    <h1> {{ planet.name }} </h1>

    <ul>
        <b>Details:</b>
        <li>Type: {{planet.terrain}}</li>
        <li>Surface Water: {{planet.surface_water}}</li>
        <li>Rotation Period: {{planet.rotation_period}}</li>
        <li>Population: {{planet.population}}</li>
        <li>Orbital Period: {{planet.orbital_period}}</li>
        <li>Gravity: {{planet.gravity}}</li>
        <li>Climate: {{planet.climate}}</li>
        <li>Diameter: {{planet.diameter}}</li>
    </ul>
    <p>{{planet.opening_crawl}}</p>
    <p><b>Filme:</b></p>
    <ul *ngFor="let film of  planet.films">
        <li>{{film}}</li>
    </ul>
    <p><b>Charactere:</b></p>
    <ul *ngFor="let resident of  planet.residents">
        <li>{{resident}}</li>
    </ul>
</div>
<div *ngIf="!planet">
    ...Loading
</div>