<h1>Planeten</h1>
<button mat-raised-button (click)="openAddPlanet()" class="float-right">+ add </button>
<div class="row">

    <div *ngFor="let planet of planetList" class="col-sm-6 col-md-4">

        <app-starwars-card  
            [url]="planet.url" 
            [title]="planet.name" 
            line1="Climate: {{planet.climate}}" 
            line2="Population: {{planet.population}}" 
            line3="Terrain: {{planet.terrain}}" 
            path="planet"
            imgpath="planetimg"
            >
        </app-starwars-card>
    </div>
</div>
<div class="paging">
    <button mat-raised-button (click)="fetchPlanetList(previous)" *ngIf="previous">            
        <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <button mat-raised-button (click)="fetchPlanetList(next)" *ngIf="next">
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
</div>
