/* standard style */
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
app-root .container {
    padding: 40px ;
}

app-root h1 {
    text-align: center;
    margin-bottom: 50px;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
.link-list {
    margin-right: 40px;
}

app-root hr {
    width: 80px;
    border-top: 1px solid rgba(0,0,0,.6);
}

app-root button:focus {
    outline: unset;
}
 .cdk-overlay-container mat-dialog-container {
    max-width: 500px;
} 

mat-dialog-actions {
    float: right;
}
.mat-raised-button.mat-primary {
    background-color: black;
}
.paging {
    text-align: center;
}

.starwars-card {
    margin-bottom: 15px;
}

.starwars-card div {
    margin-left: 10px;
    max-width: 240px;
}

img.teaser-img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 15px;
}
/* mobile style */
@media (max-width: 575.98px) {
    app-root .container {
        padding: 20px ;
    }
 }