/* You can add global styles to this file, and also import other style files */
app-root h1 {
    text-align: center;
    margin-bottom: 50px;
}

li {
    list-style: none;
}
p {
    margin-left: 40px;
}
app-root hr {
    width: 80px;
    border-top: 1px solid rgba(0,0,0,.6);
}

app-root button:focus {
    outline: unset;
}
 .cdk-overlay-container mat-dialog-container {
    max-width: 500px;
} 
.cdk-overlay-container mat-dialog-container h2 {
    color: black;
}

mat-dialog-actions {
    float: right;
}
.paging {
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
