<h2 mat-dialog-title>Chrakter hinzufügen</h2>

<mat-dialog-content class="row">

     <mat-form-field class="col-md-12" appearance="standard" MatFormFieldControl>
        <mat-label>Input</mat-label>
        <input matInput 
                placeholder="Name"
                formControlName="name">
    </mat-form-field>

    <mat-form-field class="col-md-6"   appearance="standard">
        <mat-label>Größe</mat-label>
        <input matInput
                placeholder="Größe"
                formControlName="height">
    </mat-form-field>

    <mat-form-field class="col-md-6"  appearance="standard">
        <mat-label>Gewicht</mat-label>
        <input matInput
                placeholder="Gewicht"
                formControlName="mass">
    </mat-form-field>

    <mat-form-field class="col-md-6"  appearance="standard">
        <mat-label>Haarfarbe</mat-label>
        <input matInput
                placeholder="Haarfarbe"
                formControlName="hair_color">
    </mat-form-field>

    <mat-form-field class="col-md-6" appearance="standard">
        <mat-label>Augenfarbe</mat-label>
        <input matInput
                placeholder="Augenfarbe"
                formControlName="eye_color">
    </mat-form-field>

    <mat-form-field class="col-md-6" appearance="standard">
        <mat-label>Geburtsjahr</mat-label>
        <input matInput
                placeholder="Geburtsjahr"
                formControlName="birth_year">
    </mat-form-field>

    <mat-form-field class="col-md-6" appearance="standard">
        <mat-label>Geschlecht</mat-label>
        <input matInput
                placeholder="Geschlecht"
                formControlName="gender">
    </mat-form-field> 

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Abrechen</button>
    <button mat-button class="mat-raised-button mat-primary">Character hinzufügen</button>
</mat-dialog-actions>